

body .red {
    color: var(--color);
}

.red {
    color: yellow;
}

.blue {
    --blue: blue;
    color: var(--color-red)
}

#main {
    color: yellow
}

body main .blue {
    color: blue
}

.home-page .card-section {
    color: blue;
}

.home-page {
    padding-top: 30px;
    color: white;
    background-color: var(--border-color);
}


.bg {
   display: inline-block;
text-align: center;
   background: rgb(2,0,36);
   color: red;
   width: 200px;
    height: 200px;
    padding: 50px 10px 5px 0;
    margin: 40px 10px;

    /* box-sizing: border-box; */

    border-color: var(--border-color );
    border-width: 20px;
    border-style: solid;

    border-radius: 10px 20px 20px 20px;

    /* background-color: transparent; */
    /* border: 20px dashed yellow;
    border-bottom: 10px dashed green; */
}


/* form */

#div {

}

.div {

}

div {

}

#div .div div {

}

#index-page {
    h1 {
        color: red;
    }
}


.form-group {
    margin-bottom: 8px;
}
.form-group label {
    display: block;
    font-size: 15px;
}

.form-group input {
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 4px ;
}

button {
    padding: 4px 12px;
    background-color: purple;
    color: white
    ;
    border: 1px solid rgb(154, 1, 154);
    font-size: 16px;
    border-radius: 4px;
}